<style>

</style>

<div class="banner-section">

</div>

{% schema %}
{
    "name": "Banner Section",
    "settings": [{
        "type": "image_picker",
        "id": "banner_image",
        "label": "t:sections.banner-section.settings.image.label",
        "info": "t:sections.banner-section.settings.image.info"
    }
    ],
    "presets": [{
        "name": "Banner Section",
    }]
}


{% endschema %}

